@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,500&family=Roboto+Slab:wght@100;200;300;400&family=Roboto:wght@100;300;400;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 1320px;
  background-color: #F9F9FB;
}


.header {
  left: 0px;
  top: 0px;
 
}

.dash_button{
  color:white ;
  background-color:#004AA2 ;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.04), 0px 4px 35px rgba(0, 0, 0, 0.05);
  font-weight: 600;
}

.dash_link{
  color:#5599FE;
}

/* nav_menu */
.dash_menu_li:hover{
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px -1px 20px rgba(0, 0, 0, 0.04);
  color: #1672DE;
  font-weight: bold;
}

.navbar{
  width: 272px;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px -1px 20px rgba(0, 0, 0, 0.04);
  z-index: 30;
}

.button_1{
  color:  #00769B;
  background-color: #DCFFD0;
}
.button_2{
  color: #32009B;
  background: #FDCECE;
}

.icon_setting{
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.box_shadow{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04);
}

.credit_shadow{
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px -1px 20px rgba(0, 0, 0, 0.04);
}


.order_form{
  width: 310px;
  height: 360px;
}


.order_shadow{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}




.footer{
  background-image: url('./images/footer.png');
  background-size: cover;

}


.prod_bag {
  background-color:  #dcedf7;
}


.button{
  background-color: #2736ad;
}


.right_form{
  position: absolute;
  left: 200%;
}

.left_form{
  position: absolute;
  left: -200%;
  
}